<%- include('../partials/header') %>

<h1>New Bag</h1>

<form class="new-bags-form" action="/bags" method="POST">
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" pattern="^[a-zA-Z0-9 &-]+$"/>
    <br />
    <label for="name">Name</label>
    <input type="text" name="name" id="name" pattern="^[a-zA-Z0-9 &-]+$"/>
    <br />
    <label for="color">Color</label>
    <input type="color" name="color" id="color"/>
    <br />
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity" pattern="^[a-zA-Z0-9 &-]+$"/>
    </select>
    <br />
    <!-- <label for="image">Image</label>
    <input type="file" name="image" id="image"/>
    <br /> -->
    <input type="submit" value="Add Bag" />

<%- include('../partials/footer') %>