<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disc Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      &nbsp;|&nbsp;
      <a href="/shelf">Shelf</a>
      &nbsp;|&nbsp;
      <a href="/bags">Bags</a>
      &nbsp;|&nbsp;
      <a href="/bags/new">Add Bag</a>
      &nbsp;|&nbsp;
      <a href="/discs/new">Add Disc</a>
      &nbsp;|&nbsp;
      <a href="/discs">All Disc</a>
      &nbsp;|&nbsp;
      <a href="/logout">Logout</a>
    </nav>
