<%- include('../partials/header') %>

<h1>New Disc</h1>

<form action="/discs" method="POST">
  <label for="name">Name*</label>
  <input type="text" name="name" id="name" />
  <br />
  <label for="brand">Brand*</label>
  <input type="text" name="brand" id="brand" />
  <br />
  <label for="type">Type*</label>
  <input type="text" name="type" id="type" />
  <br />
  <label for="color">Color*</label>
  <input type="text" name="color" id="color" />
  <br />
  <label for="speed">Speed</label>
  <input type="number" name="speed" id="speed" />
  <br />
  <label for="glide">Glide</label>
  <input type="number" name="glide" id="glide" />
  <br />
  <label for="turn">Turn</label>
  <input type="number" name="turn" id="turn" />
  <br />
  <label for="fade">Fade</label>
  <input type="number" name="fade" id="fade" />
  <br />
  
  <label for="bag">Bag</label>
  <select name="bag" id="bag">
    <% for (let i = 0; i < bags.length; i++) { %>
      <option value="<%= bags[i].id %>"><%= bags[i].name %></option>
    <% } %>
  </select>
  <br />
  <input type="submit" value="Add Disc" />
</form>

<%- include('../partials/footer') %>