body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5dc;
}

a {
  color: #8b4513;
}

.login img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


nav {
  background-color: #aa8c65;
  color: #fff;
  padding: 15px;
  border-radius: 3px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #a0522d;
}

@media screen and (max-width: 375px) {
  nav {
    padding: 10px;
  }

  nav a {
    margin: 0 0px;
    padding: 0px 0px 0px 0px;
    
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #aa8c65;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.disc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
}

.disc {
  height: 150px;
  width: 150px;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  justify-self: center;
}

.button-group {
  position: absolute;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.bag-buttons {
  display: flex;
  gap: 10px;
}

.bag-buttons form {
  display: inline;
}


.edit-bags-form,
.edit-disc-form,
.new-disc-form,
.new-bags-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.edit-bags-form label,
.edit-disc-form label,
.new-disc-form label,
.new-bags-form label {
  margin-bottom: 5px;
}

.edit-bags-form input,
.edit-disc-form input,
.new-disc-form input,
.new-bags-form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1px;
}

.edit-bags-form input[type="submit"],
.edit-disc-form input[type="submit"],
.new-disc-form input[type="submit"],
.new-bags-form input[type="submit"] {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
}

.edit-bags-form input[type="submit"]:hover,
.edit-disc-form input[type="submit"]:hover,
.new-disc-form input[type="submit"]:hover,
.new-bags-form input[type="submit"]:hover {
  background-color: #45a049;
}

.edit-bags-form input#color,
.edit-disc-form input#color,
.new-disc-form input#color,
.new-bags-form input#color {
  width: auto;
}

.edit-bags-form select,
.edit-disc-form select,
.new-disc-form select,
.new-bags-form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1px;
  width: 100%; /* Make the select element take up the full width of the form */
  font-size: 16px; /* Increase the font size for better readability */
  appearance: none; /* Remove default browser styling */
  background-color: #dddcdc; /* Set a background color */
}

#sortForm{
  padding: 0px 0px 10px 0px;
  font-size: large;
}

#sortForm select{
  width: 100px;
  border-radius: 5px;
  padding: 1px;
  font-size: large;
}
/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table cells */
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

